{% extends 'base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-4">
        <div class="card"> 
            <img src="{% static 'imagenes/Doctores.jpeg' %}" class="card-img-top" alt="Médico">
            <div class="card-body">
                <h5 class="card-title">Acceso Médico</h5>
                <p class="card-text">Accede a tu panel de control como médico.</p>
                <div class="card-footer d-flex justify-content-end">
                    <a href="Medico/login.html" class="btn btn-primary">Acceder</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="{% static 'imagenes/Pacientes.jpg' %}" class="card-img-top" alt="Paciente">
            <div class="card-body">
                <h5 class="card-title">Acceso Paciente</h5>
                <p class="card-text">Consulta tus citas y historial médico.</p>
                <div class="card-footer d-flex justify-content-end">
                    <a href="Paciente/Main.html" class="btn btn-primary">Acceder</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="{% static 'imagenes/Administrativo.webp' %}" class="card-img-top" alt="Administrativo">
            <div class="card-body">
                <h5 class="card-title">Acceso Administrativo</h5>
                <p class="card.text">Gestiona los registros y citas.</p>
                <div class="card-footer d-flex justify-content-end">
                    <a href="Personal Administrativo/login.html" class="btn btn-primary">Acceder</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}