.horarios{
    background-color: white;
    padding: 20px;
    margin: 20px;

}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}

#modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    z-index: 9999;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.cuadro {
    background-color: #f8f9fa; /* Fondo claro */
    border: 1px solid #ddd;    /* Borde gris suave */
    border-radius: 8px;        /* Bordes redondeados */
    padding: 20px;             /* Espaciado interno */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
    margin-bottom: 20px;
}

.contenedor {
    background-color: white;
    margin: 40px;
    padding: 20px;
    border-radius: 8px;
}

.fc {
    font-family: Arial, sans-serif; /* Cambiar la fuente general */
    font-size:medium ;
}

/* Cambiar el color de fondo de los eventos */
.fc-event {
    background-color: #11527d; /* Azul */
    color: #F0F0F0; /* Texto blanco */
    border: 1px solid black;
}


/* Personalizar el encabezado */
.fc-toolbar-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2c3e50;
}

.fc-day {
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
}

.fc-day-today {
    background-color: #ff851bdc; /* Día actual */
    border: 8px;
}

.fc-day-past {
    background-color: darkgray; /* Días pasados */
}


.fc-timegrid-slot {
    background-color: #F0F0F0;
    border-top: 1px solid #11527d;
}

.fc-timegrid-axis {
    font-weight: bold;
    color: #2c3e50; /* Etiquetas de hora */
}

.fc-col-header-cell {
    background-color: #012d4b;
    font-weight: bold;
    text-align: center;
}

.fc-daygrid-day {
    border: 1px solid #FF851B;
    padding: 5px;
}

.btn-primary{
    background-color: #ED6E0F;
}

.btn-primary:hover{
    background-color: #054567;
}