#citas_medico {
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    background-color: #f8f9fa; /* Fondo muy pálido para contraste */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    border-radius: 8px;
}

/* Título */
h2 {
    text-align: center;
    color: #054567; /* Color para el título */
    font-size: 1.5rem;
    padding: 10px 0;
    border-bottom: 2px solid #ED6E0F; /* Línea debajo del título */
    margin-bottom: 20px;
}

/* Tabla */
table {
    width: 100%;
    border-collapse: collapse;
}

/* Encabezado de la tabla */
thead {
    background-color: #ED6E0F; /* Color de fondo para encabezados */
    color: #ffffff; /* Texto blanco */
}

thead th {
    padding: 10px;
    font-size: 1.1rem;
    text-align: left;
}

/* Filas pares */
tbody tr:nth-child(even) {
    background-color: #f0f8ff; /* Fondo muy pálido rosado */
}

/* Fila al pasar el ratón */
tbody tr:hover {
    background-color: #ffebcd; /* Cambio a un color más suave al pasar el ratón */
}

/* Celdas de la tabla */
tbody td {
    padding: 10px;
    font-size: 1rem;
    text-align: left;
    background-color: #f8f9fa; /* Fondo blanco muy suave */
}

/* Borde de la tabla */
table, th, td {
    border: 1px solid #054567; /* Borde azul oscuro */
}

/* Botón de acción */
.btn-primary {
    background-color: #054567; /* Color de fondo del botón */
    border-color: #054567; /* Borde del botón */
}

.btn-primary:hover {
    background-color: #ED6E0F; /* Cambio de color cuando se pasa el ratón */
    border-color: #ED6E0F; /* Cambio de borde */
}
