.formulario{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

/* Footer Link */
a[href*='registrar_medico'] {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 1.1rem;
    color: #28a745;
}

a[href*='registrar_medico']:hover {
    color: #1c7a33;
}

