
.card {
    background: rgb(95, 158, 160);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
}

/* Titulo de la card*/
h1 {
    font-size: 1.8em;
    color: #000000;
    text-align: center;
    margin-bottom: 10px;
}

/* Color de los texto */
label {
    display: block;
    font-size: 0.9em;
    color: #000000;
    margin-bottom: 5px;
}

input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="text"]:focus, select:focus {
    outline: none;
    border-color: #e07b18;
    box-shadow: 0 0 5px #e07b18;
}
/* boton de siguiente */
input[type="submit"] {
    background-color: #e07b18;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #e07b18;
}

.row {
    display: flex;
    justify-content: center;
}