

{% extends 'base.html' %}
{% load static %}
{% block title %}Generar Horarios{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/formulario.css' %}">
{% endblock %}


{% block content %}
<div class="container mt-4">
    <div class="formulario">
        <h2>Generar Horarios para el Médico {{ medico.usuario.first_name }} {{ medico.usuario.last_name }}</h2>
        <form method="post" class="formulario">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Generar Horarios</button>
            <a href="{% url 'administrativo:lista_medicos' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
<script>
    const form = document.querySelector('form');
    form.addEventListener('submit', (event) => {
        const desde = document.querySelector('#desde').value;
        const hasta = document.querySelector('#hasta').value;
        console.log('Desde:', desde);
        console.log('Hasta:', hasta);
    });
</script>
{% endblock %}