{% extends 'base.html' %}
{% load static %}
{% block title %}Registrar Médico{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/formulario.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="formulario">
        <h1>{% if is_edit %}Editar Médico{% else %}Registrar Médico{% endif %}</h1>
        <hr>
        <form method="post">
            {% csrf_token %}
            <h2>Información del Usuario</h2>
            {{ usuario_form.as_p }}
            <hr>
            <h2>Especialidad del Médico</h2>
            {{ medico_form.as_p }}
            <hr>
            <button type="submit" class="btn btn-success">Guardar</button>
            <a href="{% url 'administrativo:lista_medicos' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}
