


    {% extends 'base.html' %}
    {% load static %}
    {% block title %}Registrar Disponibilidad{% endblock %}
    
    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/formulario.css' %}">
    {% endblock %}
    
    
    {% block content %}
    <div class="container mt-4" id="mensaje">
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="formulario">
            <h1>Lista de Médicos</h1>
            <table border="1">
                <thead>
                    <tr>
                        <th>RUT</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Especialidad</th>
                        <th>Email</th>
                        <th>Teléfono</th>
                        <th>Disponibilidad</th>
                        <th>Horarios</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for medico in medicos %}
                    <tr>
                        <td>{{ medico.usuario.rut }}</td>
                        <td>{{ medico.usuario.first_name }}</td>
                        <td>{{ medico.usuario.last_name }}</td>
                        <td>{{ medico.especialidad }}</td>
                        <td>{{ medico.usuario.email }}</td>
                        <td>{{ medico.usuario.fono }}</td>
                        <td>
                            <ul>
                                <li><a href="{% url 'administrativo:crear_disponibilidad' medico.usuario.rut %}">Crear Disponibilidad</a></li>
                                <li><a href="{% url 'administrativo:ver_disponibilidades' medico.usuario.rut %}">Ver Disponibilidades</a></li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li><a href="{% url 'administrativo:generar_horarios' medico.usuario.rut %}"> Crear Horario </a></li>
                                <li><a href="{% url 'administrativo:ver_horarios' medico.usuario.rut %}">Ver Horario</a></li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li><a href="{% url 'administrativo:editar_medico' medico.usuario.rut %}">Editar</a></li>
                                <li><a href="{% url 'administrativo:eliminar_medico' medico.usuario.rut %}" onclick="return confirm('¿Estás seguro de que deseas eliminar este médico?');">Eliminar</a></li>
                            </ul>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6">No hay médicos registrados.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'administrativo:registrar_medico' %}">Registrar un nuevo médico</a>
            </form>
        </div>
        <div class="botones">
            <a href="{% url 'administrativo:administrativo_main' %}" class="btn btn-primary" id="volver">Volver</a>
        </div>
    </div>
    <!-- Cargar el archivo JS -->
    <script src="{% static 'js/validar_rut.js' %}"></script>
    {% endblock %}