{% extends 'base.html' %}
{% load static %}
{% block title %}Registrar Disponibilidad{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/disponibilidad.css' %}">
{% endblock %}


{% block content %}
<div class="container mt-4">
    <div class="formulario">
        <h2>Registrar Disponibilidad del Médico</h2>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form id="disponibilidadForm" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Guardar Disponibilidad</button>
        </form>
    </div>
</div>
<!-- Cargar el archivo JS -->
<script src="{% static 'js/validar_rut.js' %}"></script>
{% endblock %}
