{% extends 'base.html' %}
{% load static %}
{% block title %}Ver Horarios{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/calendario.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class = "contenedor">
        <h1>Horarios de {{ medico.rut.nombre }} {{ medico.rut.apellido }}</h1>
        <div id="calendario" style="display: block;">
            <div id="calendar"></div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.7/index.global.min.js"></script>
<script src="{% static 'js/calendario_administrativo.js' %}"></script>
{% endblock %}