{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/historial.css' %}">
{% endblock %}

{% block title %}Gestionar Ficha Clínica{% endblock %}

{% block content %}
<div class="formulario">
    {% if messages %}
    <div>
        {% for message in messages %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    <h1>{% if ficha_form.instance.id %}Editar Ficha Clínica{% else %}Crear Ficha Clínica{% endif %}</h1>
    <form method="post">
        {% csrf_token %}
        
        <!-- Campo RUT -->
        <div>
            <label for="rut">RUT del Paciente</label>
            <input type="text" name="rut" id="rut" placeholder="Ingrese el RUT del paciente..." required value="{{ request.POST.rut }}">
        </div>

        <!-- Formulario Ficha Clínica -->
        <div>
            <label for="{{ ficha_form.edad.id_for_label }}">{{ ficha_form.edad.label }}</label>
            {{ ficha_form.edad }}
            {% if ficha_form.edad.errors %}
                <div class="error">{{ ficha_form.edad.errors }}</div>
            {% endif %}
        </div>

        <!-- Formulario Consulta -->
        <div>
            <label for="{{ consulta_form.fecha_consulta.id_for_label }}">{{ consulta_form.fecha_consulta.label }}</label>
            {{ consulta_form.fecha_consulta }}
            {% if consulta_form.fecha_consulta.errors %}
                <div class="error">{{ consulta_form.fecha_consulta.errors }}</div>
            {% endif %}
        </div>
        <div>
            <label for="{{ consulta_form.motivo.id_for_label }}">{{ consulta_form.motivo.label }}</label>
            {{ consulta_form.motivo }}
            {% if consulta_form.motivo.errors %}
                <div class="error">{{ consulta_form.motivo.errors }}</div>
            {% endif %}
        </div>
        <div>
            <label for="{{ consulta_form.observaciones.id_for_label }}">{{ consulta_form.observaciones.label }}</label>
            {{ consulta_form.observaciones }}
            {% if consulta_form.observaciones.errors %}
                <div class="error">{{ consulta_form.observaciones.errors }}</div>
            {% endif %}
        </div>

        <!-- Formulario Alergias -->
        <div>
            <label for="{{ alergias_form.descripcion.id_for_label }}">{{ alergias_form.descripcion.label }}</label>
            {{ alergias_form.descripcion }}
            {% if alergias_form.descripcion.errors %}
                <div class="error">{{ alergias_form.descripcion.errors }}</div>
            {% endif %}
        </div>

        <!-- Formulario Diagnósticos -->
        <div>
            <label for="{{ diagnosticos_form.descripcion.id_for_label }}">{{ diagnosticos_form.descripcion.label }}</label>
            {{ diagnosticos_form.descripcion }}
            {% if diagnosticos_form.descripcion.errors %}
                <div class="error">{{ diagnosticos_form.descripcion.errors }}</div>
            {% endif %}
        </div>

        <!-- Formulario Enfermedades Base -->
        <div>
            <label for="{{ enfermedades_form.descripcion.id_for_label }}">{{ enfermedades_form.descripcion.label }}</label>
            {{ enfermedades_form.descripcion }}
            {% if enfermedades_form.descripcion.errors %}
                <div class="error">{{ enfermedades_form.descripcion.errors }}</div>
            {% endif %}
        </div>

        <!-- Formulario Medicamentos -->
        <div>
            <label for="{{ medicamentos_form.nombre.id_for_label }}">{{ medicamentos_form.nombre.label }}</label>
            {{ medicamentos_form.nombre }}
            {% if medicamentos_form.nombre.errors %}
                <div class="error">{{ medicamentos_form.nombre.errors }}</div>
            {% endif %}
        </div>

        <!-- Botones de Enviar y Cancelar -->
        <div class="form-buttons">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a href="{% url 'administrativo:medico_main' %}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}

