{% extends 'base.html' %}
{% load static %}
{% block title %}Cita{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/citas_medico.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-4">

    <div class="card p-4 shadow-sm">
        <h1 class="text-center text-success">Cita Generada Exitosamente</h1>

        <table class="table table-bordered table-striped mt-3">
            <thead class="thead-light">
                <tr>
                    <th>Campo</th>
                    <th>Información</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><strong>ID de la Cita:</strong></td>
                    <td>{{ cita.cita }}</td>
                </tr>
                <tr>
                    <td><strong>Paciente:</strong></td>
                    <td>{{ cita.paciente.usuario.rut }}</td>
                </tr>
                <tr>
                    <td><strong>Previsión:</strong></td>
                    <td>{{ cita.prevision }}</td>
                </tr>
                <tr>
                    <td><strong>Horario:</strong></td>
                    <td>{{ cita.horario.fechainicio|date:"H:i" }} - {{ cita.horario.fechafin|date:"H:i" }}</td>
                </tr>
                <tr>
                    <td><strong>Sala:</strong></td>
                    <td>{{ cita.horario.sala }}</td>
                </tr>
            </tbody>
        </table>

        <div class="text-center mt-4">
            <a href="{% url 'administrativo:buscar_rut' %}" class="btn btn-primary">Ver listado de citas</a>

        </div>
    </div>
</div>
{% endblock %}
