{% extends 'base.html' %}
{% load static %}
{% block title %}Listado de Citas{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/formulario.css' %}">
{% endblock %}

{% block content %}
<div class="formulario">
    <h1>Listado de Citas</h1>

    {% if citas %}
        <table>
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Horario</th>
                    <th>Previsión</th>
                    <th>Sucursal</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for cita in citas %}
                    <tr>
                        <td>{{ cita.horario.fechainicio|date:"d/m/Y" }}</td>
                        <td>{{ cita.horario.fechainicio|date:"H:i" }} - {{ cita.horario.fechafin|date:"H:i" }}</td>
                        <td>{{ cita.prevision }}</td>
                        <td>{{ cita.horario.sala.sucursal.nombre }}</td>
                        <td>
                            <a href="{% url 'administrativo:editar_cita' medico_rut=cita.horario.medico.usuario.rut cita=cita.cita %}">Editar</a> | 
                            <a href="{% url 'administrativo:cancelar_cita' cita=cita.cita %}" onclick="return confirm('¿Estás seguro de que quieres cancelar esta cita?');">Cancelar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No tienes citas agendadas.</p>
    {% endif %}

    <a href="{% url 'administrativo:formulario_reserva' %}">Volver al inicio</a>
</div>
{% endblock %}