{% extends 'base.html' %}
{% load static %}
{% block title %}Inicio Paciente{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/citas_medico.css' %}">
{% endblock %}

{% block content %}
<div class="container" id="citas_medico">
    <h2 class="text-primary">Listado de Médicos</h2>
    <table class="table table-bordered table-striped">
        <thead class="bg-warning text-dark">
            <tr>
                <th>RUT</th>
                <th>Especialidad</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for medico in medicos %}
                <tr>
                    <td>{{ medico.usuario.rut }}</td>
                    <td>{{ medico.especialidad }}</td>
                    <td>
                        <a href="{% url 'administrativo:ver_citas' medico.usuario.rut %}" class="btn btn-primary">Ver Agenda</a>
                    </td>                
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
